doctype html
html(lang='en')
  head
    include ../components/meta.pug
    title= meta.title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='shortcut icon' href='/favicon.ico')
    block stylesheet
  body
    block content
    block javascript

    include ../components/ga.pug
